body{
  background-image: url("../img/material.png");
  background-size: auto;
  background-repeat: no-repeat;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none; /*Delete underline on hover*/
}

.container {
  width: 450px;
  height: 500px;
  background-color: #340570;
  margin: 300px auto; /*Center alignment*/
  text-align: center;
  box-shadow: 0 -5px 0 #9A6AD6;
  border-radius: 0 0 10px 10px;
}
