body{
  background-image: url("../img/material.png");
  background-size: auto;
  background-repeat: no-no-repeat;
}

a {
  color: #fff;
}

a:hover {
  text-decoration: none; /*Delete underline on hover*/
}
